---
import BackButton from "../components/BackButton.astro";
---
<head>
    <meta charset="UTF-8">
</head>
<BackButton />      
<h1 class="text-4xl font-bold text-center mb-20 pt-5 font-serif">My Projects</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="card shadow-lg">
    <figure><img src="/images/Laravel.svg.png" class="w-64 h-66 pt-10" alt="Loan System Project"/></figure>
    <div class="card-body">
      <h2 class="card-title">Project 1: Loan Management System</h2>
      <p>This project is a Loan Management System built using React for the frontend and Tailwind CSS for styling, integrated with a backend API powered by Laravel. It allows users to manage the borrowing and returning of items, with functionality for both full and partial returns. The system also supports sorting loans by various criteria such as student name, class, and loan creation date. Additionally, the UI features interactive elements like success/error messages using SweetAlert and persistent navigation with a sticky navbar.</p>
      <a href="https://github.com/danielmedie/loan-system" class="btn btn-primary">View Project</a>
    </div>
  </div>
  <div class="card shadow-lg">
    <figure><img src="/images/Laravel.svg.png" class="w-64 h-66 pt-10" alt="Event Invitation App Project"/></figure>
    <div class="card-body">
      <h2 class="card-title">Project 2: Event Invitation App</h2>
      <p>This event invitation app is built using Laravel for the backend and React for the frontend, with Tailwind CSS for styling. It manages event invitations with features like user authentication and database integration, providing a seamless user experience for organizing events.</p>
      <a href="https://github.com/danielmedie/event-invitation-app" class="btn btn-primary">View Project</a>
    </div>
  </div>
  <div class="card shadow-lg">
    <figure><img src="/images/astro-logo_2.png" class="w-64 h-66 pt-10" alt="Portfolio"/></figure>
    <div class="card-body">
      <h2 class="card-title">Project 3: Portfolio</h2>
      <p>This personal portfolio is built using Astro and Tailwind CSS, showcasing my skills as a web developer. It features dynamic content, interactive UI components, and a clean, responsive design. The project highlights my expertise in frontend development and includes various projects, downloadable resume, and links to my GitHub and LinkedIn profiles.</p>
      <a href="https://github.com/danielmedie/portfolio" class="btn btn-primary">View Project</a>
    </div>
  </div>
  <div class="card shadow-lg">
    <figure><img src="/images/astro-logo_2.png" class="w-64 h-66 pt-10" alt="Astro mini task"/></figure>
    <div class="card-body">
      <h2 class="card-title">Project 5: Astro TeamCard component task</h2>
      <p>This is a Astro mini task where I did a TeamCard component based on a picture</p>
      <a href="https://github.com/danielmedie/astro-mini-task" class="btn btn-primary">View Project</a>
    </div>
  </div>
  <div class="card shadow-lg">
    <figure><img src="/images/astro-logo_2.png" class="w-64 h-66 pt-10" alt="Astro Tutorial"/></figure>
    <div class="card-body">
      <h2 class="card-title">Project 4: Astro Tutorial</h2>
      <p>This is a Astro tutorial i did as a practice</p>
      <a href="https://github.com/danielmedie/astro-tutorial" class="btn btn-primary">View Project</a>
    </div>
  </div>
</div>
